<div ui-view></div>




<div ng-controller="ProductShowCtrl">
	<div class="row">
  		<div class="col-md-6"><img src="" class="img-responsive" alt="Responsive image"></div>
  		<div class="col-md-6">
  			<p><span class="label label-info">typeProduct</span>{{ product.type  }}</p>
  			<p><span class="label label-info">nameProduct</span>{{ product.name  }}</p>
  			<p><span class="label label-info">baneProduct</span>{{ product.model }}</p>
  			<p><span class="label label-info">makeProduct</span>{{ product.brand }}</p>
  			<p><span class="label label-info">yaerProduct</span>{{ product.createproduct_at }}</p>
  			<p><span class="label label-info">detailProduct</span>{{ product.detail }}</p>
  		</div>
  	</div>
</div>


